
body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}
.header_appbar{
    width: 100vw;
    height: 60px;
    position: sticky;
    top: 0%;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    
}

.mt-header{
  margin-top: 60px;
}

.header_appbar a:hover, .header_appbar a:visited, .header_appbar a:link, .header_appbar a:active
{
    text-decoration: none;
}

.container{
    padding: 0 10vw;
}

.box-shadow-1{
    box-shadow: 1px 9px 23px -2px rgba(0,0,0,0.20);
-webkit-box-shadow: 1px 9px 23px -2px rgba(0,0,0,0.20);
-moz-box-shadow: 1px 9px 23px -2px rgba(0,0,0,0.20);
}
.box-shadow-2{
    box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.62);
-webkit-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.62);
}
.box-shadow-3{
    box-shadow: 0px 6px 8px -1px rgba(0,0,0,0.66);
-webkit-box-shadow: 0px 6px 8px -1px rgba(0,0,0,0.66);
-moz-box-shadow: 0px 6px 8px -1px rgba(0,0,0,0.66);
}

.card_body{
    width: 240px;
    height: 340px;
    border: 1px solid rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin: 10px;
    border-radius: 7px;
    transition: 0.2s ease-in;
}

.card_body:hover{
    margin-top: -1px;

    box-shadow: 1px 9px 23px -2px rgba(0,0,0,0.20);
    -webkit-box-shadow: 1px 9px 23px -2px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 9px 23px -2px rgba(0,0,0,0.20);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.card_image{
    width: 90%;
    height: 70%;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 5px;
   
}
.card_image img{
    width: 100%;
    height: 100%;
}
.card_title{
    font-size: 14px;
    font-weight: 600;
    width: 90%;
    color: rgb(32, 32, 32);
}

.card_sub{
    font-size: 18px;
    font-weight: 700;
    width: 90%;
    color: rgb(32, 32, 32);
}

.card_xs{
    font-weight: 100;
    margin-top: -15px;
    color: rgb(160, 160, 160);
    width: 90%;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.details_section{
    height: 80vh;
}

.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.details_container{
    width: 80%;
    height: 90%;
    border: 1px solid rgb(160, 160, 160);
}
.details_image {
    width: 50%;
    height: 95%;
    border-right: 1px solid rgb(160, 160, 160);
}
.details{
    width: 50%;
    height: 95%;
}
.details_image img{
    width: 90% !important;
    height: 90% !important;
}

.container_details{
    padding: 5px 30px;
    height: fit-content;
}

.details_price{
    font-weight: 600;
    font-size: 18px;
    color: red;
}

.category{
    background: rgb(238, 238, 238);
    border: 2px solid rgb(230, 230, 230);
    padding: 8px;
    color: rgb(168, 62, 62);
    font-weight: 600;
    border-radius: 3px;
    margin-top: 0px;
}

.description{
    text-align: start;
    margin-top: 5px;
    color: rgb(114, 114, 114);
}


  
@media screen and (max-width: 900px) {
    .flex-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .details_image {
        border-right: none;
    }
    .details{
        width: 90%;
        height: 95%;
    }
    .details_container{
      width: 100%;
      border: none;
  }
  }

  @media screen and (max-width: 720px) {
    .container{
        padding: 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
  }













.lds-ellipsis {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: brown;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


  .bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }

  .alert_item{
    transition: 0.2s ease-out;
    border: 1px solid #C3E6CB;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: #D4EDDA;
    color: #155724;
    opacity: 1;
    display: flex;
  }

  .alert_item p{
    font-weight: 500;
  }

  .hiden{
    transition: 1s ease;
    opacity: 0;
    display: none;
  }